<div class="container">

  <%# --------Search / filter---------- %>

  Filter is gonna be here

  <br>
  <br>
  <br>

  <%# ------------Summary-------------- %>

 Summary

  <div class="cards-container">

    <div class="card-1">
      <h5>Revenue</h5>

    </div>

    <div class="card-2">
      <h5>Average revenue per order</h5>

    </div>

    <div class="card-3">
      <h5>Customers</h5>

    </div>

  </div>

  <%# -------------- Charts ----------------%>


</div>
